.DS_Store
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/**/build/

# iOS / SwiftPM
ios/.build/
ios/Package.resolved
ios/hermes-livechat/build/
ios/hermes-livechat/build-iphoneos/
ios/hermes-livechat/DerivedData/
ios/hermes-livechat/.spm-cache/
ios/.swiftpm/
ios/**/*.xcuserstate
ios/**/xcuserdata/
ios/**/*.xcarchive/

# Flutter
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/pubspec.lock
flutter/*.iml
